header {
    background-color: #F7F0BA;
    height: 177px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cabecalho {
    width: 207px;
    height: 150px;
}

body {
    background-color: black;
}

h1, h2, h3{
    color: white;
}

p{
    color: white;
}

#paragrafo1{
    color: red;
}

#paragrafo2{
    color: aqua;
}

.destaque{
    color: black;
    background-color: white;
    text-align: center;
}