header {
    background-color: #860A35;
    height: 20px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cabecalho {
    width: 207px;
    height: 150px;
}

body {
    background-color: #F3F3F3;
}

h1, h2, h3{
    color: #A3B763;
}

img {
    background-color: #A3B763;
    padding: 20px;
    max-height: 10%;
    max-width: 10%;
    margin: auto;
    display: block;
}

p{
    color: #AF2655;
}

#paragrafo1{
    color: #AF2655;
}

#paragrafo2{
    color: #AF2655;
}

.destaque{
    color: #AF2655;
    text-align: center;
}

footer {
    background-color: #860A35;
    height: 20px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}